body {
    background-color: red;
    text-align:center;
}

.header {
    text-align: center;
    background: red;
    border: 3px dotted black;
    
}

h1 {
    font-family: 'Coming Soon', Arial;
    color: black;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
    }

h3 {
    font-family: 'Rock Salt';
    color: black;
}

div {
    color: black;
    font-family: cursive

}

.card {
    box-shadow: 10px 10px 10px 5px black;
    text-align: left;
}



#totalPrice {
    width: 200px;
    height: 190px;
    margin: 100px 0px 0px 0px;
    float: right;
    font-size: 1em;
    text-shadow: 2px 0 0 gray, -2px 0 0 gray, 0 2px 0 gray, 0 -2px 0 gray, 1px 1px gray, -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right
   }

.center {
	width:200px;
	height:200px;
	float:left;
	}   

#showText {
    width: 200px;
    height:190px;
    margin: 50px auto ;
    float:left;
}

#cart {
    top:0;
    margin: 0px auto;
    width:400px;
    height: 300px;
}

.btn {
    margin:5%;
    /*width:100px;*/
    /*height:50px;*/
}