body {
    background-color: red;
    text-align:center;
}

.jumbotron {
    text-align: center;
   margin: 2%;
   background-color:red;
   
}

img {
    margin:2%;
    width:auto;
    height:auto;
}



@media only screen and (max-width: 600px) {
    img {
        margin: 2%;
        max-width: 300px;
    }
}

.card-deck {
    margin:3%;
}
.card {
    margin:2%;
}

h1 {
    font-family: 'Coming Soon', Arial;
    color: black;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
    }

h3 {
    font-family: 'Rock Salt';
    color: black;
}

div {
    color: black;
    font-family: cursive

}

.card {
    box-shadow: 10px 10px 10px 5px black;
    text-align: left;
}



#totalPrice {
    width: 200px;
    height: 190px;
    margin: 100px 0px 0px 0px;
    float: right;
    font-size: 1em;
    text-shadow: 2px 0 0 gray, -2px 0 0 gray, 0 2px 0 gray, 0 -2px 0 gray, 1px 1px gray, -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray;
}


#showText {
    width: 200px;
    height:190px;
    margin: 50px auto ;
    float:left;
}

#cart {
    top:0;
    margin: 0px auto;
    width:400px;
    height: 300px;
}

.btn {
    margin:5%;
    /*width:100px;*/
    /*height:50px;*/
}